.card.mb-5:first-child {
  margin-top: 15%; 
}

.card.mb-5 {
  width: 70%;
  background-color: rgb(233, 227, 231);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.buttonAdd {
  position: fixed;
  top: 0;
  height: 115px;
  width: 100%;
  background-color: #5e6664;
}

.btn.btn-outline-success.add {
  position: fixed;
  top: 35px;
  left: 43%;
  color: #dbe6ca;
  border-color: #dbe6ca;
}

.btn.btn-outline-success.add:hover {
  color: #9D849A;
  background-color: #dbe6ca;
}

.card.mb-5:last-child {
  margin-bottom: 250px;
}

.buttons {
  padding-top: 50px;
}

.btn.btn-outline-primary {
  margin-right: 25px;
}